@charset "utf-8";
/* CSS Document */
/*
@charset "utf-8";
@Reset css;*/
  
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
/*@import url(./fonts/notosan/notosankr.css);*/

/* float 처리  */
.clearfix:after {content: " ";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix { display: inline-block; }
/* Hides from IE-mac \\*/
* html .clearfix { height: 1%;}
.clearfix { display: block; }
/* End hide from IE-mac */

/* 초기화 */
* {	margin:0; 
	padding:0;
	-ms-user-select: none; 
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

body {margin:0 auto;}
html, body, div, span, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, blockquote, p, address, pre, cite, form, fieldset, caption, textarea, input, select, table, th, td { margin: 0px;
padding: 0px;}
html {overflow-y:scroll;}
body {margin:0; padding:0; font-size:13px; font-family: 'Noto Sans', sans-serif;  font-weight:normal;   line-height: 1; overflow: hidden;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0; padding:0; border:0}
h1, h2, h3, h4, h5, h6 {word-break: break-all;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav {display:block; margin:0; padding:0;}
ul, dl, ol  {margin:0;padding:0;list-style:none;}
legend, .hid {margin:0; padding:0; font-size:0; line-height:0; text-indent:-9999em;}

input, button {margin:0; padding:0;  font-family: 'Noto Sans', sans-serif; font-weight:normal; }
button, input[type="submit"], input[type="button"] {/*cursor:none;*/ font-family: 'Noto Sans KR', sans-serif;}
textarea, select, option { font-family: 'Noto Sans', sans-serif; font-weight:normal;  }
select {margin:0;  font-family: 'Noto Sans', sans-serif; font-weight:500;  }
p {margin:0;padding:0; word-break: break-all;}
span {word-break: break-all;}
/* a{cursor:none;} */
a:link, a:visited {text-decoration:none}
a:hover, a:focus, a:active {text-decoration:none;}
img{margin:0; padding:0;}
i{margin:0; padding:0;}
table{}

.hid{font-size:0; text-indent: -99999em; height: 0; width:0;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px;}
.mt55{margin-top:55px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml35{margin-left:35px;}
.ml40{margin-left:40px;}
.ml45{margin-left:45px;}
.ml50{margin-left:50px;}
.ml55{margin-left:55px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}
.mr35{margin-right:35px;}
.mr40{margin-right:40px;}
.mr45{margin-right:45px;}
.mr50{margin-right:50px;}
.mr55{margin-right:55px;}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}
.mb45{margin-bottom:45px;}
.mb50{margin-bottom:50px;}
.mb55{margin-bottom:55px;}

.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt35{padding-top:35px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt55{padding-top:55px;}

.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb35{padding-bottom:35px;}
.pb40{padding-bottom:40px;}
.pb45{padding-bottom:45px;}
.pb50{padding-bottom:50px;}
.pb55{padding-bottom:55px;}

.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pl30{padding-left:30px;}
.pl35{padding-left:35px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl55{padding-left:55px;}

.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}
.pr30{padding-right:30px;}
.pr35{padding-right:35px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr55{padding-right:55px;}
