<!DOCTYPE html>
<!-- changeTime.php, usbSave.php, graphView.php는 예외사항으로 header, footer적용안함 -->
<!-- <html style="overflow:hidden; cursor:none;"> -->
<html>
  <head>
    <title>지오필테크</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
