<%- include ./header %>

            <!-- container -->
            <div id="container">
                <div class="innerwrap">
					<!-- 왼쪽컨텐츠 -->
					<ul class="left_ul"></ul>
					<!-- //왼쪽컨텐츠 -->
					<!-- 오른쪽컨텐츠 -->
					<ul class="right_ul"></ul>
					<!-- //오른쪽컨텐츠 -->
                </div>
			</div>
			<!-- //container -->


<%- include ./footer %>